#submit-btn {
    display: inline-block;
    background: var(--btn-color);
    color: var(--white);
    border-color: transparent;
    margin-top: 1rem;
    letter-spacing: var(--spacing);
    padding: 0.45rem;
    text-transform: capitalize;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: medium;
}
#submit-btn:hover {
    box-shadow: 0 0 4px var(--btn-color);
}


.loader {
    display: inline-block;
    margin: 1rem 3rem 0 2rem;
    padding: 0.45rem;
    border: 6px solid var(--white);
    border-top: 6px solid var(--btn-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(60deg); }
    100% { transform: rotate(360deg); }
}