:root {
  --font-color: hsl(209, 61%, 16%);
  --background-color: hsl(210, 36%, 96%);
  --white: #fff;
  --black: #222;
  --btn-color: #64bb64;
  --title-color: #066f8b;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --fixed-width: 500px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--background-color);
  color: var(--font-color);
  line-height: 2;
  font-size: 1.1rem;
}

.form {
  background: var(--white);
  max-width: var(--fixed-width);
  margin: 0 auto 4rem;
  padding: 1rem 2rem;
  border-radius: var(--radius);
}
.form input, .placeholder {
  background: var(--background-color);
  border-color: transparent;
  border-radius: var(--radius);
  padding: 0.25rem 0.5rem;
  font-size: medium;
}
.form-control {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}


.placeholder {
  min-height: 100px;
}
